{% extends "public/index.html" %}

{% block title %}Início - Sistema Confidencia{% endblock %}

{% block content %}
<section class="section dashboard">
  <div class="container">
    <div class="row justify-content-center text-center">
      <!-- Texto -->
      <div class="col-lg-8">
        <h2 class="fw-bold mb-3" style="font-size: 2rem;">Bem-vindo ao Confidencia</h2>
        <p class="lead mb-4">Submeta denúncias e reclamações de forma segura e anónima.</p>
      </div>

      <!-- Imagem -->
      <div class="col-lg-6">
        <img src="{{ url_for('static', filename='assets/img/confidencia-logo.png') }}"
             alt="Logo Sistema"
             class="img-fluid mx-auto d-block"
             style="max-width: 380px; height: auto;">
      </div>
    </div>
  </div>
</section>


{% endblock %}
