{% extends "public/index.html" %}

{% block title %}Início - Sistema Confidencia{% endblock %}

{% block content %}
<section class="section dashboard">
  <div class="row justify-content-center align-items-center text-center" style="height: 80vh;">
    <div class="col-md-8">
      <h2 class="fw-bold" style="font-size: 2rem;">Bem-vindo ao Sistema Confidencia</h2>
      <p class="lead">Submeta denúncias e reclamações de forma segura e anónima.</p>
      <img src="{{ url_for('static', filename='assets/img/confidencia-logo.png') }}" alt="Logo Sistema" class="img-fluid mt-4" style="max-width: 550px;">
    </div>
  </div>
</section>
{% endblock %}
